body,
html
{
  height: 100%;
}

.text--blue,
.control.has-icons-right .icon,
.icon {
  color: $blue-shade1 !important;
  &:hover {
    color: $magenta-pink !important;
  }
}

.button.has-text-dark:hover, .button.has-text-dark:focus {
    color: white !important;
}


// Music player styles
$music-player-panel-height: 80px;
#root {
  padding-bottom: $music-player-panel-height + 20px;
}

// with hover music-player compact mode set cursor move
.react-jinke-music-player{
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.react-jinke-music-player .music-player:hover {
  cursor: move;
}

.music-player .destroy-btn {
  cursor: pointer;
}

.player-spacer {
  height: 150px;
}
